

:root {
    --color1: #ffffff; /*white*/
    --color11: #ffffff8c; /*shafaf*/
    --color2: #020227;  /*kohly*/
    --color3: #1c5c61; /*teal*/
    --top: 20px;  
    --dragwidth: 10px; 
    --bottom: 20px;
    --font: "Times New Roman", Times, serif;
    --fontSize: 11px;
    /* --font: "Andale Mono", AndaleMono, monospace; */
    /* --font: "Courier New", Courier, monospace; */
}
/* body, div, p {
    font: 400 10px/12px Roboto, sans-serif;
    text-align: center;
} */
h4 {
    font-size: var(--fontSize);
}

img, video {
    border: 1px solid black;
}

#canvasFrame {
    border: 1px solid black;
}

.col-6{
    padding-left :25px;
}

td {
    padding: 10px 0px 0px 10px;
    text-align: center;
}
.input-group-text, .form-control {
    font-size: var(--fontSize);
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: var(--color3);
    border-color: #2e6da4;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: var(--fontSize);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

button[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.control {
    margin-bottom: 3px;
}

.err {
    color: red;
    font-weight: bold;
}

.caption {
    margin: 0;
    font-weight: bold;
}

.code {
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    background-color: #FBFCFD;
    border: 1px solid #C4CFE5;
    font-family: monospace, fixed;
    font-size: var(--fontSize);
    min-height: 13px;
    line-height: 1.0;
    text-wrap: unrestricted;
    padding-bottom: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}

.small {
    max-width: 300px;
}

#wrapper {
    max-width: 1000px;
}

.scroll {
    width:100%;
    height:200px;
    /*position: absolute;*/
    resize:both;
    margin-bottom: 20px
}

.scroll>pre {
    overflow-y:scroll;
    display:inline-block;
    position: relative;
    width:100%;
    height:100%;
    border: 1px;
    border-style:solid;
    border-color: #999;
    color: #555;
    text-align: left;
    font-size: var(--fontSize);
}

.form-check {
    margin-top: 8px;
}

.max_width {
    max-width: 600px;
}

.input-group-xsm {
    font-size: var(--fontSize);
}

.small-font {
    /*@extend .list-group-item;*/
    font-size: var(--fontSize);
    padding-top:3px;
    padding-bottom:3px;
}

.dropdown-menu {
    margin-left:200px;
}
.assemblerControl{
    width:100%;
    top:var(--top);
    position: absolute;
    /* overflow: scroll; */
    /* height:50%; */
}

/*.form-control {
    font-size: 10px;
}*/
