body { 
  font: 8px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* you can set the disabled style how you like on the text/icon */
.cxtmenu-disabled {
  opacity: 0.1;
}
/* you can set the disabled style how you like on the text/icon */
.cxtmenu {
  opacity: 0.1;
}